*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-main: #464646;
    --bg-card: #2D2727;
    --border-color: #efc745;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    height: 100vh;
    background-color: var(--bg-main);
}
@media screen  and (max-width: 800px) {
    body{
       
    gap: 2rem;
    }

}

h1{
    color:white ;
    font-family: "Lexend Deca Light";
    font-size: 3rem;
}
@media screen  and (max-width: 800px) {
    h1{
        font-size: 2.2rem;
}

    }


span{
    color: var(--border-color);
}

#card-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;

}
.card {
    position: relative;
    transition: all .4s linear;
    transform-style: preserve-3d;
    cursor: pointer;
}
 @media screen  and (max-width: 800px) {
    #card-section{
        position: relative;
        right: 2.3%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 1rem;
}
} 

.card,
.back-card,
.fornt-card {
    height: 5rem;
    width: 5rem;
}
 @media screen  and (max-width: 800px) {
    .card,
    .back-card,
    .fornt-card {
        height: 3.8rem;
        width: 3.8rem;
    }
} 

.back-card,
.fornt-card{
    position: absolute;
    backface-visibility: hidden;
}

.fornt-card {
    background: var(--border-color);
    background-size: contain;
    border-radius: .6rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 2rem;
}
.back-card {
    transform: rotateY(180deg);
    /*background-color: #6589F9;*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 2rem;
}
.card_selected{
    transform: rotateY(180deg);
}
.card_match .fornt-card{
    background-color: var(--bg-card);
}
/* .card{

       width: 5rem;
       height: 5rem;
       background-color: var(--bg-card);
       background-size: contain;
        border-radius: .6rem;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 1rem;
}
.card_selected{
    border: 0.2rem solid green;
}

.card_match{
    border: 0.2rem solid purple;
} */